{% load static %}
<nav class="nxl-navigation">
    <div class="navbar-wrapper">
        <div class="m-header">
            <a href="#" class="b-brand">
                <img src="{% static 'vendor/duralux/images/logo-full.png' %}" alt="Brokerly" class="logo logo-lg">
                <img src="{% static 'vendor/duralux/images/logo-abbr.png' %}" alt="Brokerly" class="logo logo-sm">
            </a>
        </div>
        <div class="navbar-content">
            <ul class="nxl-navbar">
                <li class="nxl-item nxl-caption">
                    <label>Painel</label>
                </li>
                <li class="nxl-item">
                    <a href="#" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-airplay"></i></span>
                        <span class="nxl-mtext">Dashboard</span>
                    </a>
                </li>
                <li class="nxl-item">
                    <a href="#" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-send"></i></span>
                        <span class="nxl-mtext">Chat IA</span>
                    </a>
                </li>

                <li class="nxl-item nxl-caption">
                    <label>Comercial</label>
                </li>
                <li class="nxl-item">
                    <a href="#" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-layout"></i></span>
                        <span class="nxl-mtext">CRM · Negociações</span>
                    </a>
                </li>
                <li class="nxl-item">
                    <a href="{% url 'clients:client_list' %}" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-user"></i></span>
                        <span class="nxl-mtext">Clientes</span>
                    </a>
                </li>

                <li class="nxl-item nxl-caption">
                    <label>Carteira</label>
                </li>
                <li class="nxl-item">
                    <a href="{% url 'insurance:proposal_list' %}" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-file-text"></i></span>
                        <span class="nxl-mtext">Propostas</span>
                    </a>
                </li>
                <li class="nxl-item">
                    <a href="{% url 'insurance:policy_list' %}" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-shield"></i></span>
                        <span class="nxl-mtext">Apólices</span>
                    </a>
                </li>
                <li class="nxl-item">
                    <a href="#" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-layers"></i></span>
                        <span class="nxl-mtext">Itens cobertos</span>
                    </a>
                </li>

                <li class="nxl-item nxl-caption">
                    <label>Operação</label>
                </li>
                <li class="nxl-item">
                    <a href="{% url 'claims:claim_list' %}" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-alert-circle"></i></span>
                        <span class="nxl-mtext">Sinistros</span>
                    </a>
                </li>
                <li class="nxl-item">
                    <a href="#" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-file-plus"></i></span>
                        <span class="nxl-mtext">Endossos</span>
                    </a>
                </li>
                <li class="nxl-item">
                    <a href="#" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-clock"></i></span>
                        <span class="nxl-mtext">Renovações</span>
                    </a>
                </li>

                <li class="nxl-item nxl-caption">
                    <label>Catálogos</label>
                </li>
                <li class="nxl-item">
                    <a href="{% url 'insurers:insurer_list' %}" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-briefcase"></i></span>
                        <span class="nxl-mtext">Seguradoras</span>
                    </a>
                </li>
                <li class="nxl-item">
                    <a href="{% url 'insurers:lob_list' %}" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-book"></i></span>
                        <span class="nxl-mtext">Ramos</span>
                    </a>
                </li>

                <li class="nxl-item nxl-caption">
                    <label>Parceiros</label>
                </li>
                <li class="nxl-item">
                    <a href="#" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-at-sign"></i></span>
                        <span class="nxl-mtext">Agentes</span>
                    </a>
                </li>
                <li class="nxl-item">
                    <a href="#" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-user"></i></span>
                        <span class="nxl-mtext">Produtores</span>
                    </a>
                </li>
                <li class="nxl-item">
                    <a href="#" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-dollar-sign"></i></span>
                        <span class="nxl-mtext">Comissões</span>
                    </a>
                </li>

                <li class="nxl-item nxl-caption">
                    <label>Análise</label>
                </li>
                <li class="nxl-item">
                    <a href="#" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-cast"></i></span>
                        <span class="nxl-mtext">Relatórios</span>
                    </a>
                </li>

                <li class="nxl-item nxl-caption">
                    <label>Configurações</label>
                </li>
                <li class="nxl-item">
                    <a href="#" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-settings"></i></span>
                        <span class="nxl-mtext">Minha corretora</span>
                    </a>
                </li>
                <li class="nxl-item">
                    <a href="#" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-life-buoy"></i></span>
                        <span class="nxl-mtext">Equipe</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
